<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>ToDo-List-Home</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Get Done</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link disabled" href="#">Add Task <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">My List</a>
                </li>
            </ul>
        </div>
        <form class="form-inline">
            {% comment %} <button type="button" class="btn btn-success mx-3" data-toggle="modal" data-target="#LoginModal">
                LogIn
              </button> {% endcomment %}
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#signupModal">
                Sign Up
            </button>
        </form>
    </nav>
    {% if status == "0" %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Sign Up failed!</strong> Typed Password 1 and Password 2 are not matched!! Please try again ....
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    {% elif status == "1" %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Sign Up failed!</strong> This email is already used!! Please login to continue ....
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      {% elif status == "2" %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Sign Up Successful!!</strong> Please login to continue ....
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      {% elif status == "3" %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Log In failed!!</strong> This user not found. Please sign up to continue....
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      {% elif status == "4" %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Log In failed!!</strong> Wrong password....
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}

    <div class="container my-5">
      <div class="jumbotron jumbotron">
        <div class="container">
          <h1>Log In</h1>
          <form action="/login/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" Required>
            </div>
            <div class="form-group">
                <label for="loginPassword">Type your password</label>
                <input type="password" class="form-control" name="password" id="loginPassword" Required>
            </div>
            <button type="submit" class="btn btn-success">Log In</button>
          </form>
          <form action="/signuppage/">
          <p class="my-3 form-inline">Don't have an account?<button type="submit" class="btn btn-link">Sign Up</button></p>
          </form>
        </div>
      </div>
    </div>

    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container pt-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
              <a class="btn btn-outline-light btn-floating m-1" href="mailto: shivamoct41@gmail.com" role="button"><i class="fa fa-envelope"></i
          ></a>

              <!-- Linkedin -->
              <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/shivam-thakur-49096a1ba/" role="button"><i class="fab fa-linkedin-in"></i
          ></a>

              <!-- Github -->
              <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/shivam-thakur01" role="button"><i class="fab fa-github"></i
          ></a>
          </section>
          <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/">Get Done</a>
      </div>
      <!-- Copyright -->
  </footer>
  <!-- Login Modal -->
  <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="LoginModalLabel">Log In</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/login/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" Required>
                </div>
                <div class="form-group">
                    <label for="loginPassword">Type your password</label>
                    <input type="password" class="form-control" name="password" id="loginPassword" Required>
                </div>
                <button type="submit" class="btn btn-success">Log In</button>
              </form>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" >
    function preventBack(){window.history.forward();}
     setTimeout("preventBack()", 0);
     window.onunload=function(){null};
 </script>
 
    <!-- SignUp Modal -->
    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signupModalLabel">Sign up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form action="/home/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" Required name="email" id="email" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="fname">First name</label>
                            <input type="text" class="form-control" id="fname" name="fname"Required>
                        </div>
                        <div class="form-group">
                            <label for="lname">Last name</label>
                            <input type="text" class="form-control" id="lname" name="lname" Required>
                        </div>
                        <div class="form-group">
                            <label for="signupPassword1">Type your password</label>
                            <input type="password" class="form-control" name="password1" id="signupPassword1" Required>
                        </div>
                        <div class="form-group">
                            <label for="signupPassword2">Type your password again</label>
                            <input type="password" class="form-control" name="password2" id="signupPassword2" Required>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>